API_URL=http://api-v1.bonde.devel
APP_DOMAIN=http://beta.bonde.devel
GRAPHQL_URL=http://api-v2.bonde.devel/graphql
JWT_TOKEN='AAAA.BBBB.CCCC'
PORT='5000'
REDIS_URL=redis://redis.bonde.devel:6379
SPEECH_VERSION=v2
WIT_SERVER_ACCESS_TOKEN=AAAAAAAA