extends ../layout/index.pug

block scripts
block stylesheets

block append metas
  meta(property='og:url' content='https://m.me/beta.feminista')
  meta(property='og:title' content='A maior aliada feminista nas redes')
  meta(property='og:description' content='Chama a Beta no inbox')
  meta(property='og:image' content='https://scontent.fcgh12-1.fna.fbcdn.net/v/t1.0-9/20638560_505036586510157_6801132313075788378_n.png?oh=6381bd549b2acb2c7b0979d0f0fb7ff3&oe=5A2AF4BB')
  meta(http-equiv='refresh' content='0.1;url=https://m.me/beta.feminista')

block content
  span Redirecionando...
