body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #fff;
}
.is-dark {
  background-color: #F62459;
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1440439307159-c3afc8a8e4ff?dpr=1&auto=format&crop=entropy&fit=crop&w=2000&h=1000&q=40');
}
.nav {
  min-height: 92px;
}
.nav-item img {
  border-radius: 5px;
}
.hero.is-dark a.nav-item {
  position: relative;
}
.hero.is-dark a.nav-item.is-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}
.button .icon:first-child:last-child {
  margin-right: 5px;
}
.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  position: relative;
  top: -1px;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
}
.promo-img {
  background-image: url('https://scdn.androidcommunity.com/wp-content/uploads/2016/05/Messenger.jpg');
  border-radius: 10px;
  border: 10px solid #fff;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}
.label {
  color: #fff;
  font-weight: normal;
}
.users-container {
  max-height: 500px;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .hero.is-dark .nav-menu .nav-item {
    padding: 30px;
  }
}
